<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <title>Financial Market Community</title>
  <link rel="stylesheet" href="static/styles/main.css">
  <link rel="stylesheet" href="static/styles/styleabout.css">
  <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}> -->

</head>

<body>
  <header>
    <!-- Navbar -->
    {% include "navbar.html" %}
  </header>
  
  <div class="hbanner">
      <div class="bgAbout">
         <img src="static/media/About Us/hero banner.webp">
      </div>
    <h1 class="judul">
        ABOUT US<br>
    </h1>
  </div>
    
     <!-- About Us -->
    <div class="about-us">
        
        <div class="about-content">
          <div class="left">
             <div class="about-text">
            <h2>FMC UNPAD</h2>
            <p>
              <b>Financial Market Community</b> atau FMC adalah sebuah <span
                class="highlight">organisasi dibawah pengawasan Bursa Efek Indonesia (BEI) secara langsung.</span>
              FMC didirikan pada 15 Juli 2003 dan berkedudukan di Fakultas Ekonomi dan Bisnis Universitas Padjadjaran<br><br>

              FMC adalah tempat untuk seluruh anggotanya bertumbuh serta meningkatkan kemampuan berorganisasi dan pengetahuan
              pasar modal dengan seluruh program kerja yang ada. <span class="highlight">FMC juga menjadi wadah untuk seluruh
                anggotanya meningkatkan koneksi</span> baik antar sesama mahasiswa, maupun dengan stakeholder Bursa Efek
              Indonesia, sekuritas terkait, serta stakeholders organisasi sejenis di universitas lain
              <br> <br>
              <strong>Bersama dengan FMC, kita akan membangun organisasi dengan tingkat relevansi yang tinggi</strong>, berkontribusi terhadap ilmu pengetahuan dan masyarakat, serta rumah bagi seluruh anggotanya.
            </p>           
             </div>
          </div>  
          <div class="right">
          <div class="about-image">
            <img src="static/media/About Us/gambar about1.webp" alt="Gambar About Us">
          </div>
          </div>  
        </div>
      </div>

     <!--Visi Misi -->
<div class="hbannervisimisi">
  <div class="visi">
       <h2>Visi</h2>
        <div class="teksvisi">
              <button>FMC memiliki visi sebagai organisasi pembelajaran pasar keuangan konvensional dan syariah yang berjiwa bisnis, dinamis, dan profesional, serta sebagai lembaga pengembangan potensi para pengurus pada khususnya serta mahasiswa dan masyarakat pada umumnya</button>
        </div>
    </div>
    <div class="misi">
        <h2>Misi</h2>
        <div class="teksmisi">
          <button>FMC memiliki misi yakni mengembangkan potensi para pengurus untuk menjadi profesional, cerdas, dan seimbang serta pasar keuangan sebagai inti dari pola pikir mahasiswa dan masyarakat.</button>
        </div>
    </div>
</div>


    <!--Values-->
  <div class="values">
    <h2> Values </h2>
    <div class="valuestext">
      <p>
        <b> "FMC LEBIH DARI SEKADAR TENTANG SAHAM"</b>, adalah <b>motto</b> baru kami yang kami serukan karena kesaran kami akan eksistensi FMC yang tidak hanya terbatas pada minat yang sama terkait dunia pasar modal, tetapi juga menyediakan lingkungan yang hangat untuk pertukaran pengetahuan yang lebih luas, termasuk pengembangan soft skill serta memperluas relasi. Kami memiliki berbagai divisi yang diperuntukkan pada pengembangan ilmu sesuai dengan keinginan tiap individu mulai dari mengambangkan soft skill seperti pengolahan data, coding, dan riset.
        <br><br>

        Adanya FMC juga dapat meningkatkan modal sosial mahasiswa dengan memberikan pengetahuan, pengalaman, dan pengembangan terhadap seluruh fungsionarisnya. Tidak hanya itu, FMC juga dapat memberikan manfaat bagi seluruh Kema FEB Unpad melalui kolaborasi dengan berbagai lembaga dan komunitas di FEB Unpad.
      </p>
    </div>  
  </div>



  <!-- Testimoni Alumni -->

  <div class="testimoni-alumni">
      <h2>Testimoni Alumni</h2>
      <div class="TA-content1">
        <div class="TA-left1">
           <div class="TA-text1">
          <h3>Rayenda Brahma</h3><br>
          <h4>Founder FMC (Dosen di Coventry University)</h4><br>
          <p>
            Sebagai alumni Akuntansi 2001, saya merasa perlu mendirikan FMC pada tahun 2003 untuk menciptakan wadah yang edukatif namun tetap santai bagi mahasiswa. Awalnya diremehkan, namun berkat kerjasama dengan BEI dan berbagai kegiatan inovatif seperti 'FMC goes to School', FMC berhasil menarik minat ratusan mahasiswa baru setiap tahunnya. FMC juga mempelajari berbagai hal, seperti python, persiapan lomba, dan ilmu lainnya. Di FMC, saya tidak hanya belajar tentang pasar keuangan, tetapi juga mengembangkan soft skills seperti berorganisasi dan bekerja sama dalam tim. Jika kamu mencari komunitas yang solid dan mendukung, FMC adalah wadah yang tepat untuk belajar sambil bersenang-senang!
          </p>           
           </div>
        </div>  
        <div class="TA-right1">
        <div class="TA-image1">
          <img src="static/media/About Us/kangraye.webp" alt="Gambar Kang Raye">
        </div>
        </div>  
      </div>
    </div>
  
  <div class="TA-content2">
      <div class="TA-left2">
         <div class="TA-text2">
        <h3>Rizki Jauhari Indra</h3><br>
        <h4>VP FMC 2012 (Syailendra Head of Reasearch, CFA)</h4><br>
        <p>
          Saya Rizki Jauhari Indra, Saya Join FMC pertama di tahun 2010 pas jadi mahasiswa baru. Pengalaman paling berkesan adalah first impression FMC saat pengenalan unit. Disaat itu, Saya belum tau mau menjadi apa dalam karir kedepannya. Hanya dengan momen itu saya tau, bahwa saya ingin berkarier di capital market. Lalu, 14-15 tahun kemudian sekarang saya berada di Top 10 asset manager di Indonesia dan bisa dibilang semuanya dimulai hanya dengan terinspirasi dari FMC. 
        </p>           
         </div>
      </div>  
      <div class="TA-right2">
      <div class="TA-image2">
        <img src="static/media/About Us/kangraye.webp" alt="Gambar Kang Raye">
      </div>
      </div>  
    </div>
  </div>
  </div> 
</body>

  <footer>
  {% include "footer.html" %}
  </footer>
</html>png