<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBRI lakukan buyback</title>
    <link rel="stylesheet" href="static/styles/article.css">
    <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">
  </head>
  <body>
    {%include "navbar.html" %}
    <div class="banner">
      <img src="static/media/research/research-BBRI-lakukan-buyback-article.webp">
      <h1>
        BREAKING NEWS:<br>
        BBRI lakukan Buyback!<br>
      </h1>
    </div>
    <div class="article-container">
      <div class="article">
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Dignissim molestie accumsan mattis sodales natoque elementum neque nibh. Sollicitudin a enim ante ligula consectetur odio dapibus? Orci ipsum ridiculus facilisis; praesent purus mus euismod. Enim leo urna cursus facilisi urna laoreet nostra. Et arcu morbi fames habitant justo finibus scelerisque torquent.
        </p>
        <p>
          Posuere varius quam donec auctor lobortis ante praesent. Elit efficitur facilisi id tincidunt auctor parturient. Hac sapien risus suspendisse laoreet ullamcorper magna montes. Urna ullamcorper donec leo tincidunt dolor quam dignissim. Nunc erat velit sollicitudin finibus rhoncus vitae. Ullamcorper nulla facilisi ante mollis ante dapibus potenti augue.
        </p>
        <p>
          Sapien penatibus nunc eleifend amet at parturient. Rutrum netus fermentum elementum ultricies odio sodales. Habitant aenean vestibulum class mattis facilisi sagittis euismod. Nisi iaculis nullam aliquet quam elit neque massa. Finibus rhoncus dignissim fermentum bibendum varius nisl. Sem posuere bibendum est, elit nisl imperdiet. Felis semper cubilia ac ad eleifend est massa nunc vel.
        </p>
        <p>
          Senectus tellus facilisis quam natoque sed nisl ullamcorper. Enim sociosqu fames eget curae gravida neque pretium. Sociosqu finibus habitant imperdiet montes, eu tortor. Condimentum tincidunt pulvinar cubilia feugiat sit non gravida. Sollicitudin fames mus malesuada enim tortor senectus luctus. Congue congue velit felis tortor eros volutpat ante. Ornare curabitur montes nostra maecenas arcu cras penatibus. Cursus pulvinar nunc nam faucibus dictum. Ante tellus senectus etiam, montes eleifend justo hac. Elementum pharetra natoque nibh; suscipit torquent molestie mi.
        </p>
        <p>
          Litora efficitur congue pellentesque consectetur faucibus massa facilisis venenatis. Posuere massa finibus odio porttitor leo malesuada dapibus. Curae proin porttitor porta commodo class rhoncus bibendum. Efficitur eleifend convallis justo dictumst vel diam. Est tincidunt orci arcu conubia ridiculus in. Nostra pretium natoque varius habitasse diam. Semper nascetur lectus suspendisse; aliquet fringilla faucibus. Dictum etiam vestibulum facilisi in lacus nam vel urna!
        </p>
        <p>
          Laoreet maecenas curae tortor massa class mauris placerat. Quisque viverra iaculis egestas magnis hendrerit varius. Orci placerat aenean varius amet penatibus facilisi. Varius posuere magnis auctor sodales dignissim; netus sem. Habitant lectus vel non aliquet nostra. Vel amet orci consectetur vel, iaculis ac rutrum congue. Pulvinar ligula facilisis sit netus a elementum leo. Dignissim suspendisse lacinia curabitur sapien ridiculus aliquam. Dolor ad est nostra nascetur efficitur aenean?
        </p>
        <p>
          Phasellus libero maximus fusce nascetur in enim mus ultrices augue. Aenean litora montes metus aenean montes ex facilisis. Mauris augue ad sociosqu eleifend, euismod justo aptent purus. Conubia cursus eros laoreet magna libero. Augue magna magnis eleifend leo nam turpis; vel arcu imperdiet? Convallis et facilisis gravida fringilla vivamus hendrerit nascetur interdum tortor. Platea integer torquent nec condimentum turpis sapien phasellus.
        </p>
    
        <p>
          Gravida dolor ornare diam dis dapibus. Elementum himenaeos congue quam penatibus mauris. Himenaeos aptent potenti arcu, nunc magna eros per. Inceptos donec feugiat massa senectus habitant at sollicitudin. Aptent quis sollicitudin velit ornare mauris imperdiet cursus diam. Curae nibh purus vulputate penatibus dolor volutpat. Scelerisque hac ante malesuada hendrerit sollicitudin mauris aptent fames.
        </p>
      </div>
    </div>
    <footer>{%include "footer.html" %}</footer>
  </body>
</html>