<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial Market Community</title>
    <link rel="stylesheet" href="static/styles/latesttest.css">
    <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">
  </head>
  <body>
    {% include "navbar.html" %}
    <div id="container">
      <h1>Latest</h1>
        <div class="items">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DA53ksxTmeF/" target="_blank">
              <img
                src="/static/media/research/Latest/241009_TLA_KRISISPERUMAHAN.webp"
                alt="Krisis Perumahan: Bom Waktu yang Menghancurkan Mimpi Generasi Muda"
              />
              <p>Krisis Perumahan: Bom Waktu yang Menghancurkan Mimpi Generasi Muda</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C96kx_PpEU7/" target="_blank">
              <img
                src="/static/media/research/Latest/240727_TLA_HowGlobalWarmingIsRaisingTemperaturesAndPrices.webp"
                alt="The Heat is On: How Global Warming is Raising Temperatures and Prices"
              />
              <p>The Heat is On: How Global Warming is Raising Temperatures and Prices</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C71W55-J3bC/" target="_blank">
              <img
                src="/static/media/research/Latest/240605_TLA_SahamIPO2023.webp"
                alt="Saham IPO 2023: Naik Roket atau Terjun Bebas"
              />
              <p>Saham IPO 2023: Naik Roket atau Terjun Bebas</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C7GVnXcpMHr/" target="_blank">
              <img
                src="/static/media/research/Latest/240518_TLA_NavigatingTheBearMarket.webp"
                alt="Navigating the Bear Market: The Impact of War"
              />
              <p>Navigating the Bear Market: The Impact of War</p>
            </a>
          </div>
        </div>
    </div>
    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>