<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Financial Market Community</title>
  <link rel="stylesheet" href="static/styles/stylefooter.css">
  <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">
</head>

<div class="col1-footer">
  <img src="static/media/Logo-FMC.png" alt="Logo FMC Transparent" />
  <p>
    <span class="highlightfooter">"FMC lebih dari sekadar tentang saham"</span
    ><strong
      >, adalah motto baru kami yang kami serukan karena kesadaran kami akan
      eksistensi FMC yang tidak hanya terbatas pada minat yang sama terkait
      dunia pasar modal.</strong
    >
  </p>
</div>
<!-- <div class="mobile-view"> -->
  <div class="col2-footer">
    <p><strong>Menu</strong></p>
    <ul class="menu-list">
      <li><a href="{{ url_for('events') }}">Event</a></li>
      <li><a href="{{ url_for('research') }}">Research</a></li>
      <li><a href="{{ url_for('learn') }}">Learn</a></li>
    </ul>
  </div>
  
  <div class="col3-footer">
    <p><strong>Our Contact</strong></p>
    <ul class="contact-list">
      <li>
        Galeri Investasi BEI FEB Unpad & FMC FEB Unpad Hegarmanah, Jatinangor,
        Sumedang Regency, West Java 45363
      </li>
      <li>Email: <a href="mailto:info@febunpad.com">info@febunpad.com</a></li>
    </ul>
  </div>
  
  <div class="col4-footer">
    <p><strong>Socials</strong></p>
    <ul class="socials-list">
      <li>
        <a href="https://www.instagram.com/fmcfebunpad">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg>
          @fmcfebunpad
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/fmcfebunpad">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            />
            <path d="M8 11l0 5" />
            <path d="M8 8l0 .01" />
            <path d="M12 16l0 -5" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg>
          @fmcfebunpad
        </a>
      </li>
      <li>
        <a href="http://www.youtube.com/@FinancialMarketCommunity">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-youtube"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#000000"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
            />
            <path d="M10 9l5 3l-5 3z" />
          </svg>
          Financial Market Community
        </a>
      </li>
    </ul>
  </div>
<!-- </div> -->