<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial Market Community</title>
    <link rel="stylesheet" href="static/styles/latest.css">
    <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">
  </head>
  <body>
    {% include "navbar.html" %}
    <div id="container">
      <h1>Latest</h1>
      <div class="eachRow">
        <div class="item">
          <a href="https://www.instagram.com/p/C-SO9-TJ3uu/" target="_blank">
            <img
              src="static/media/research/AM-Report.webp"
              alt="Article Image"
            />
            <p>Asset Managemet Report</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-KmPZ2pP32/" target="_blank">
            <img
              src="static/media/research/Perbankan-tetap berlayar.webp"
              alt="Article Image"
            />
            <p>Perbankan: Tetap Berlayar di Tengah Badai Ekonomi</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
            <img
              src="static/media/research/SW-AKRA&TPMA.webp"
              alt="Article Image"
            />
            <p>Stock Watchlist: AKRA & TPMA</p>
          </a>
        </div>
        <div class="item mobile">
          <a href="https://www.instagram.com/p/C9_yuqsP5e1/" target="_blank">
            <img
              src="static/media/research/research-fmc-33-index-ihsg-menguat-mengalami-rebound-dan-ditutup-dengan-happy-weekend.webp"
              alt="Article Image"
            />
            <p>IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend</p>
          </a>
        </div>
      </div>
      <div class="eachRow">
        <div class="item">
          <a href="https://www.instagram.com/p/C-SO9-TJ3uu/" target="_blank">
            <img
              src="static/media/research/AM-Report.webp"
              alt="Article Image"
            />
            <p>Asset Managemet Report</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-KmPZ2pP32/" target="_blank">
            <img
              src="static/media/research/Perbankan-tetap berlayar.webp"
              alt="Article Image"
            />
            <p>Perbankan: Tetap Berlayar di Tengah Badai Ekonomi</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
            <img
              src="static/media/research/SW-AKRA&TPMA.webp"
              alt="Article Image"
            />
            <p>Stock Watchlist: AKRA & TPMA</p>
          </a>
        </div>
        <div class="item mobile">
          <a href="https://www.instagram.com/p/C9_yuqsP5e1/" target="_blank">
            <img
              src="static/media/research/research-fmc-33-index-ihsg-menguat-mengalami-rebound-dan-ditutup-dengan-happy-weekend.webp"
              alt="Article Image"
            />
            <p>IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend</p>
          </a>
        </div>
      </div>
      <div class="eachRow">
        <div class="item">
          <a href="https://www.instagram.com/p/C-SO9-TJ3uu/" target="_blank">
            <img
              src="static/media/research/AM-Report.webp"
              alt="Article Image"
            />
            <p>Asset Managemet Report</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-KmPZ2pP32/" target="_blank">
            <img
              src="static/media/research/Perbankan-tetap berlayar.webp"
              alt="Article Image"
            />
            <p>Perbankan: Tetap Berlayar di Tengah Badai Ekonomi</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
            <img
              src="static/media/research/SW-AKRA&TPMA.webp"
              alt="Article Image"
            />
            <p>Stock Watchlist: AKRA & TPMA</p>
          </a>
        </div>
        <div class="item mobile">
          <a href="https://www.instagram.com/p/C9_yuqsP5e1/" target="_blank">
            <img
              src="static/media/research/research-fmc-33-index-ihsg-menguat-mengalami-rebound-dan-ditutup-dengan-happy-weekend.webp"
              alt="Article Image"
            />
            <p>IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend</p>
          </a>
        </div>
      </div>
      <div class="eachRow">
        <div class="item">
          <a href="https://www.instagram.com/p/C-SO9-TJ3uu/" target="_blank">
            <img
              src="static/media/research/AM-Report.webp"
              alt="Article Image"
            />
            <p>Asset Managemet Report</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-KmPZ2pP32/" target="_blank">
            <img
              src="static/media/research/Perbankan-tetap berlayar.webp"
              alt="Article Image"
            />
            <p>Perbankan: Tetap Berlayar di Tengah Badai Ekonomi</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
            <img
              src="static/media/research/SW-AKRA&TPMA.webp"
              alt="Article Image"
            />
            <p>Stock Watchlist: AKRA & TPMA</p>
          </a>
        </div>
        <div class="item mobile">
          <a href="https://www.instagram.com/p/C9_yuqsP5e1/" target="_blank">
            <img
              src="static/media/research/research-fmc-33-index-ihsg-menguat-mengalami-rebound-dan-ditutup-dengan-happy-weekend.webp"
              alt="Article Image"
            />
            <p>IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend</p>
          </a>
        </div>
      </div>
      <div class="eachRow">
        <div class="item">
          <a href="https://www.instagram.com/p/C-SO9-TJ3uu/" target="_blank">
            <img
              src="static/media/research/AM-Report.webp"
              alt="Article Image"
            />
            <p>Asset Managemet Report</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-KmPZ2pP32/" target="_blank">
            <img
              src="static/media/research/Perbankan-tetap berlayar.webp"
              alt="Article Image"
            />
            <p>Perbankan: Tetap Berlayar di Tengah Badai Ekonomi</p>
          </a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
            <img
              src="static/media/research/SW-AKRA&TPMA.webp"
              alt="Article Image"
            />
            <p>Stock Watchlist: AKRA & TPMA</p>
          </a>
        </div>
        <div class="item mobile">
          <a href="https://www.instagram.com/p/C9_yuqsP5e1/" target="_blank">
            <img
              src="static/media/research/research-fmc-33-index-ihsg-menguat-mengalami-rebound-dan-ditutup-dengan-happy-weekend.webp"
              alt="Article Image"
            />
            <p>IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend</p>
          </a>
        </div>
      </div>
    </div>
    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>