<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Market Community</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="static/styles/learn.css">
    <link rel="stylesheet" href="static\styles\lite-yt-embed.css">
    <link rel="icon" type="image/x-icon" href="static/media/Logo-FMC-Transparent.png" />
  </head>

  <body>
    {% include "navbar.html" %}
    <div class="content">
      <div id="SideNavID" class="left sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000"><path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/></svg></a>
        <div class="accordion-section">
          <button class="accordion active">
            <b>Apa itu Saham dan Kenapa menjadi Penting?</b>
            <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
          </button>
          <div class="panel" style="max-height:1000px;">
            <button class="sub-accordion">
              Apa itu saham?
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('konsepIPO')">Konsep IPO</button>
              <button onclick="showVideo('pasarModal')">Pasar Primer, Sekundar, dan Tersier</button>
            </div>
            <button class="sub-accordion">
              Industri dan Sektor
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('klasifikasi')">4 Tingkat Klasifikasi</button>
              <button onclick="showVideo('perusahaanTercatat')">Sektor dan Industri Perusahaan Tercatat di BEI</button>
            </div>
            <button class="sub-accordion">
              Capital Gain dan Dividend
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('keuntunganResiko')">Keuntungan dan Resiko dalam Saham</button>
              <button onclick="showVideo('istilah')">Istilah Penting Terkait Dividend</button>
              <button onclick="showVideo('dividendTrap')">Konsep Saham 'Gorengan' dan Dividend Trap</button>
            </div>
            <button class="sub-accordion">
              Reksadana dan Obligasi
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('obligasi')">Konsep Obligasi</button>
              <button onclick="showVideo('jenisObligasi')">Jenis Obligasi</button>
              <button onclick="showVideo('reksadana')">Jenis Reksadana</button>
            </div>
            <button class="sub-accordion">
              Skill Assets Management
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('assetManagement')">Konsep dan Prinsip Assets Management</button>
              <!-- <button>Tujuan dan Manfaat Asset Management</button> -->
            </div>
            <button class="sub-accordion">
              Miskonsepsi Saham
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('orangKayaBeliSaham')">Miskonsepsi orang kaya = beli saham</button>
              <!-- <button>Tujuan dan Manfaat Asset Management</button> -->
            </div>
          </div>
          <button class="accordion active">
            <b>Basic Analysis</b>
            <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
          </button>
          <div class="panel" style="max-height:1000px;">
            <button class="sub-accordion">
              Basic Ratio
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('liquidity')">Liquidity Ratio</button>
              <button onclick="showVideo('profitability')">Profitability Ratio</button>
            </div>
          </div>
        </div>
      </div>

      <button class="openNav mobile" onclick="openNav()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="1.5"> <path d="M4 6l16 0"></path> <path d="M4 12l16 0"></path> <path d="M4 18l16 0"></path> </svg><h1>Course Content</h1></button>
      <!-- <div class="openNavBackground"></div> -->
      <div class="desktop-flex">
        <div class="accordion-section desktop">
          <button class="accordion active">
            <b>Apa itu Saham dan Kenapa menjadi Penting?</b>
            <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
          </button>
          <div class="panel" style="max-height:1000px;">
            <button class="sub-accordion">
              Apa itu saham?
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('konsepIPO')">Konsep IPO</button>
              <button onclick="showVideo('pasarModal')">Pasar Primer, Sekundar, dan Tersier</button>
            </div>
            <button class="sub-accordion">
              Industri dan Sektor
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('klasifikasi')">4 Tingkat Klasifikasi</button>
              <button onclick="showVideo('perusahaanTercatat')">Sektor dan Industri Perusahaan Tercatat di BEI</button>
            </div>
            <button class="sub-accordion">
              Capital Gain dan Dividend
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('keuntunganResiko')">Keuntungan dan Resiko dalam Saham</button>
              <button onclick="showVideo('istilah')">Istilah Penting Terkait Dividend</button>
              <button onclick="showVideo('dividendTrap')">Konsep Saham 'Gorengan' dan Dividend Trap</button>
            </div>
            <button class="sub-accordion">
              Reksadana dan Obligasi
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('obligasi')">Konsep Obligasi</button>
              <button onclick="showVideo('jenisObligasi')">Jenis Obligasi</button>
              <button onclick="showVideo('reksadana')">Jenis Reksadana</button>
            </div>
            <button class="sub-accordion">
              Skill Assets Management
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('assetManagement')">Konsep dan Prinsip Assets Management</button>
              <!-- <button>Tujuan dan Manfaat Asset Management</button> -->
            </div>
            <button class="sub-accordion">
              Miskonsepsi Saham
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('orangKayaBeliSaham')">Miskonsepsi orang kaya = beli saham</button>
              <!-- <button>Tujuan dan Manfaat Asset Management</button> -->
            </div>
          </div>
          <button class="accordion active">
            <b>Basic Analysis</b>
            <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
          </button>
          <div class="panel" style="max-height:1000px;">
            <button class="sub-accordion">
              Basic Ratio
              <svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'><path d='m9 18 6-6-6-6'/></svg>
            </button>
            <div class="subpanel">
              <button onclick="showVideo('liquidity')">Liquidity Ratio</button>
              <button onclick="showVideo('profitability')">Profitability Ratio</button>
            </div>
          </div>
        </div>

        <div class="right">
          <lite-youtube  videoid="fpLwzsZPx5A" playlabel="Konsep IPO"></lite-youtube>
          <p class="learn-title">Konsep IPO</p>
        </div>
      </div>
      <h1 class="courseHighlightsTitle">Course Highlights</h1>
      <div class="carousel">
        <div class="contain">
           <div class="row" style="--bs-gutter-y: 3.5rem; --bs-gutter-x: 0rem;">
            <div class="row__inner">
              <div class="tile">
               <a rel="noopener" href="https://www.youtube.com/watch?v=fpLwzsZPx5A" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/fpLwzsZPx5A/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
               </a>
              </div>
           
              <div class="tile">
               <a rel="noopener" href="https://www.youtube.com/watch?v=4sP-PC8O6SI" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/4sP-PC8O6SI/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
               </a>
              </div>
           
              <div class="tile">
                <a rel="noopener" href="https://www.youtube.com/watch?v=VP6VbXMDRWU" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/VP6VbXMDRWU/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
               </a>
              </div>
           
              <div class="tile">
                <a rel="noopener"href="https://www.youtube.com/watch?v=nyrNeW9HJTQ" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/nyrNeW9HJTQ/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
                </a>
              </div>
            
              <div class="tile">
                <a rel="noopener" href="https://www.youtube.com/watch?v=DPrsKsivvJc" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/DPrsKsivvJc/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
                </a>
              </div>
           
              <div class="tile">
                <a rel="noopener" href="https://www.youtube.com/watch?v=89O-3hW8e8o" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/89O-3hW8e8o/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
               </a>
              </div>
            
              <div class="tile">
                <a rel="noopener" href="https://www.youtube.com/watch?v=OjqmDv4wc-8" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/OjqmDv4wc-8/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title"> 
                    Play Video
                  </div>
                </div>
              </a>
              </div>
       
              <div class="tile">
                <a rel="noopener" href="https://www.youtube.com/watch?v=NO5mPjiMC7U" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/NO5mPjiMC7U/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
              </a>
              </div>
            
              <div class="tile">
                <a rel="noopener" href="https://www.youtube.com/watch?v=Q1Tg0Nb00hQ" target="_blank">
                <div class="tile__media">
                  <img class="tile__img" src="https://i.ytimg.com/vi/Q1Tg0Nb00hQ/hqdefault.jpg" alt=""  />
                </div>
                <div class="tile__details">
                  <div class="tile__title">
                    Play Video
                  </div>
                </div>
              </a>
              </div>        
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    <footer>{% include "footer.html"%}</footer>
    <script src="static\script\lite-youtube-embed.js"></script>
    <script src="static\script\showVideo.js"></script>
    <script src="static\script\accordion.js"></script>
  </body>
</html>