<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial Market Community</title>
    <link rel="stylesheet" href="static/styles/styleresearch.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="static/media/Logo FMC Transparent.png"
    />
    <script src="static/script/carousel.js" defer></script>
  </head>

  <body>
    {% include "navbar.html" %}
    <div class="carousel" data-carousel>
      <ul data-slides>
        <li class="slide" data-active>
            <a href="{{ url_for('bbri_lakukan_buyback') }}">
              <img
              src="static/media/research/datavision-the-heat-is-on.webp"
              alt="data vision article titled The Heat is On: How Global Warming is Raising Temperatures and Prices"/>
            </a>
          <div class="carousel-info">
            <div>
              <a href="{{ url_for('bbri_lakukan_buyback') }}">
                <h1>
                The Heat is ON: How Global Warming is raising Temperatures and
                Prices
                </h1>
              </a>
              <a href="{{ url_for('bbri_lakukan_buyback') }}">
                <p>
                  <span class="remove">Pemanasan global atau global warming telah mengakibatkan
                  ketidakseimbangan ekosistem dengan peningkatan suhu rata-rata
                  atmosfer, laut, dan daratan.</span>Pemanasan global <span class="remove">yang salah satunya
                  disebabkan oleh emisi karbondioksida ini </span>berdampak besar pada
                  perekonomian, termasuk munculnya “heatflation”. Penelitian
                  menunjukkan bahwa heatflation bisa meningkatkan harga makanan
                  global sebanyak 3% per tahun selama lebih dari satu dekade.
                  <span class="remove">
                  Di Indonesia, fenomena seperti El Niño telah menyebabkan inflasi
                  tinggi dan gagal panen. Anomali suhu yang semakin meningkat sejak
                  tahun 2000 hingga 2020 menunjukkan betapa urgennya tindakan
                  mitigasi dan adaptasi terhadap perubahan iklim.
                  </span>
                </p>
              </a>
            </div>
            <div class="buttons">
              <button class="carousel-button prev" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-left"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M5 12l4 4" />
                  <path d="M5 12l4 -4" />
                </svg>
              </button>
              <button class="carousel-button next" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-right"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M15 16l4 -4" />
                  <path d="M15 8l4 4" />
                </svg>
              </button>
            </div>
          </div>
        </li>

        <li class="slide">
          <img
            src="static/media/research/research-fmc-33-index-ihsg-menguat-mengalami-rebound-dan-ditutup-dengan-happy-weekend.webp"
            alt="Research FMC33 Index article titled FMC 33 INDEX: IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend"
          />
          <div class="carousel-info">
            <div>
              <h1>
                <span>FMC 33 INDEX: IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend</span>
              </h1>
              <p>
                IHSG menguat ke 7.288,17 pada 26 Juli 2024, mengalami kenaikan 0,66% dengan transaksi mencapai Rp 7,8 triliun dengan melibatkan 13 miliar lembar saham!<span class="remove"> PT DCI Indonesia Tbk (DCII) menjadi Top Gainers minggu ini dengan kenaikan 5.57%, sementara PT Unilever Indonesia Tbk (UNVR) menjadi Top Lossers minggu ini dengan penurunan -9.12%. IHSG berakhir di zona hijau, di tengah sedikit membaiknya sentimen pasar global. Hal ini terjadi setelah perekonomian Amerika Serikat (AS) pada kuartal II-2024 tumbuh di atas ekspektasi pasar.</span>
              </p>
            </div>
            <div class="buttons">
              <button class="carousel-button prev" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-left"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M5 12l4 4" />
                  <path d="M5 12l4 -4" />
                </svg>
              </button>
              <button class="carousel-button next" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-right"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M15 16l4 -4" />
                  <path d="M15 8l4 4" />
                </svg>
              </button>
            </div>
          </div>
        </li>

        <li class="slide">
        <img
          src="static/media/research/research-as-hapuskan-rp565-milyar-utang-indonesia.webp"
          alt="data vision article titled The Heat is On: How Global Warming is Raising Temperatures and Prices"
        />
        <div class="carousel-info">
          <div>
            <h1>
              AS Hapuskan Rp565 Miyar utang Indonesia?
            </h1>
            <p>
              Amerika Serikat menghapus utang Indonesia sebesar $35 juta dalam program baru untuk melindungi terumbu karang. Langkah ini menjadi perhatian dunia dalam upaya pelestarian alam.
              </span>
            </p>
          </div>
          <div class="buttons">
            <button class="carousel-button prev" data-carousel-button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-narrow-left"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l4 4" />
                <path d="M5 12l4 -4" />
              </svg>
            </button>
            <button class="carousel-button next" data-carousel-button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-narrow-right"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M15 16l4 -4" />
                <path d="M15 8l4 4" />
              </svg>
            </button>
          </div>
        </div>
      </ul>
    </div>

    <div class="news-list pc">
      <div class="section">
        <div class="header">
          <h1>Latest</h1>
          <a href="{{ url_for('latest') }}">
            <button>
              <div class="button-text">View all</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-right"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M13 18l6 -6" />
                <path d="M13 6l6 6" />
              </svg>
            </button>
          </a>
        </div>
        <div class="content">
          
          <div class="item">
            <a href="https://www.instagram.com/p/C-SO9-TJ3uu/" target="_blank">
              <img
                src="static/media/research/AM-Report.webp"
                alt="Article Image"
              />
              <p>Asset Managemet Report</p>
            </a>
          </div>
          <div class="item">
            <a href="https://www.instagram.com/p/C-KmPZ2pP32/" target="_blank">
              <img
                src="static/media/research/Perbankan-tetap berlayar.webp"
                alt="Article Image"
              />
              <p>Perbankan: Tetap Berlayar di Tengah Badai Ekonomi</p>
            </a>
          </div>   
          <div class="item">
            <a href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
              <img
                src="static/media/research/SW-AKRA&TPMA.webp"
                alt="Article Image"
              />
              <p>Stock Watchlist: AKRA & TPMA</p>
            </a>
          </div>
          <div class="item mobile">
            <a href="https://www.instagram.com/p/C9_yuqsP5e1/" target="_blank">
              <img
                src="static/media/research/research-fmc-33-index-ihsg-menguat-mengalami-rebound-dan-ditutup-dengan-happy-weekend.webp"
                alt="Article Image"
              />
              <p>IHSG Menguat: Mengalami Rebound dan Ditutup dengan Happy Weekend</p>
            </a>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>Stock Watchlist</h1>
          <button href="{{ url_for('latest') }}">
            <div class="button-text">View all</div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-right"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
        </div>
        <div class="content">
          <div class="item">
            <a href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
              <img
                src="static/media/research/SW-AKRA&TPMA.webp"
                alt="Article Image"
              />
              <p>Stock Watchlist: AKRA & TPMA</p>
            </a>
          </div>
          <div class="item">
            <a href="https://www.instagram.com/p/C9xCmabyuyC/" target="_blank">
              <img
                src="static/media/research/SW-ADRO&UNTR.webp"
                alt="Article Image"
              />
              <p>Stock Watchlist: ADRO & UNTR</p>
            </a>
          </div>  
          <div class="item">
            <a href="https://www.instagram.com/p/C8Ww1NYpD6t/" target="_blank">
              <img
                src="static/media/research/SW-BBCA&ACES.webp"
                alt="Article Image"
              />
              <p>Stock Watchlist: BBCA & ACES</p>
            </a>
          </div>
          <div class="item mobile">
            <a href="https://www.instagram.com/p/C7_MRNLpMpu/" target="_blank">
              <img
                src="static/media/research/SW-BFIN.webp"
                alt="Article Image"
              />
              <p>Stock Watchlist: BFIN </p>
            </a>
          </div>  
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>News</h1>
          <button>
            <div class="button-text">View all</div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-right"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
        </div>
        <div class="content">
          <div class="item">
            <a href="https://www.instagram.com/p/C8FCPkXp0Ib/" target="_blank">
              <img
                src="static/media/research/BN-AksiJKW.webp"
                alt="Article Image"
              />
              <p>Breaking News : Aksi Diam-Diam Jokowi</p>
            </a>
          </div>
          <div class="item">
            <a href="https://www.instagram.com/p/C62e9jHpn_c/" target="_blank">
              <img
                src="static/media/research/research-BBRI-lakukan-buyback.webp"
                alt="Article Image"
              />
              <p>Breaking News : BBRI lakukan Buyback!</p>
            </a>
          </div>  
          <div class="item">
            <a href="https://www.instagram.com/p/C5DjlCdpM8X/" target="_blank">
              <img
                src="static/media/research/BN-Kenaikantarif.webp"
                alt="Article Image"
              />
              <p>Breaking News : Kenaikan tarif PPN ke 12%</p>
            </a>
          </div>
          <!-- Belum Ada Link-->
          <div class="item mobile">
            <img
              src="static/media/research/article-image.webp"
              alt="Article Image"
            />
            <p>FMC 33 INDEX: IHSG Turun Rupiah Melemah, Asing pun Kabur</p>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>Sharia</h1>
          <button>
            <div class="button-text">View all</div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-right"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
        </div>
        <div class="content">
          <div class="item">
            <a href="https://www.instagram.com/p/C7bTig3SDu6/" target="_blank">
              <img
                src="static/media/research/Sharia-Laba Industri.webp"
                alt="Article Image"
              />
              <p>Laba Industri Syariah, Rugi atau Untung?</p>
            </a>
          </div>
          <div class="item">
            <a href="https://www.instagram.com/p/C7YxM6bJCIx/" target="_blank">
              <img
                src="static/media/research/Sharia-Kenapa.webp"
                alt="Article Image"
              />
              <p>Kenapa Syariah Sih? Bukannya Ribet?</p>
            </a>
          </div>
          <div class="item">
            <a href="https://www.instagram.com/p/C5s9eWZpl8A/" target="_blank">
              <img
                src="static/media/research/Sharia-Aksi Konsolidasi.webp"
                alt="Article Image"
              />
              <p>Aksi Konsolidasi Bank Syariah</p>
            </a>
          </div>
          <!-- Belum Ada -->
          <div class="item mobile">
            <img
              src="static/media/research/article-image.webp"
              alt="Article Image"
            />
            <p>FMC 33 INDEX: IHSG Turun Rupiah Melemah, Asing pun Kabur</p>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>Data Vision</h1>
          <button>
            <div class="button-text">View all</div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-right"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M13 18l6 -6" />
              <path d="M13 6l6 6" />
            </svg>
          </button>
        </div>
        <div class="content">
          <div class="item">
            <a href="https://www.instagram.com/p/C96kx_PpEU7/" target="_blank">
              <img
                src="static/media/research/datavision-the-heat-is-on.webp"
                alt="Article Image"
              />
              <p>The Heat is On: How Global Warming is Raising Temperatures and Prices</p>
            </a>
          </div>
          <div class="item">
            <a href="https://www.instagram.com/p/C71W55-J3bC/" target="_blank">
              <img
                src="static/media/research/DV-Saham IPO 2023.webp"
                alt="Article Image"
              />
              <p>Saham IPO 2023: Naik Roket atau Terjun Bebas?</p>
            </a>
          </div>  
          <div class="item">
            <a href="https://www.instagram.com/p/C7GVnXcpMHr/" target="_blank">
              <img
                src="static/media/research/DV-Navigating.webp"
                alt="Article Image"
              />
              <p>Navigating the Bear Market: The Impact of War</p>
            </a>
          </div>  
          <div class="item mobile">
            <img
              src="static/media/research/article-image.webp"
              alt="Article Image"
            />
            <p>FMC 33 INDEX: IHSG Turun Rupiah Melemah, Asing pun Kabur</p>
          </div>
        </div>
      </div>
    </div>
    <div class="news-list mobile" style="display:none">
      
    </div>
    <footer>{% include "footer.html"%}</footer>
  </body>
</html>
