<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial Market Community</title>
    <link rel="stylesheet" href="static/styles/latest.css">
    <link rel="icon" type="image/x-icon" href="/static/media/Logo-FMC-Transparent.png">
  </head>
  <body>
    {% include "navbar.html" %}
    <div id="container">
      <h1>Research & Education</h1>
      <div class="itemContainerCenter">
        <div class="items">
          <div class="item">
            <a rel="noopener" href="https://drive.google.com/file/d/16PmWnyHaDPl0_AhqKPRx1nVh1uQxY8D7/view?usp=drive_link" target="_blank">
              <img src="/static/media/research/Latest/241202_R_Telkom_Indonesia_Tbk_Equity_Research.webp"
                alt="Telkom Indonesia Equity Research" />
              <p>Telkom Indonesia (TLKM) Equity Research</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://drive.google.com/file/d/1NA04g7uH9dMb2ckFg-MibE8rZk-NtC5c/view?usp=drive_link" target="_blank">
              <img src="/static/media/research/Latest/241202_R_Indah_Kiat_Tbk_INKP_Equity_Research.webp"
                alt="Indah Kiat TBK Equity Research" />
              <p>Indah Kiat TBK (INKP) Equity Research</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DDDwhljy_uH/" target="_blank">
              <img src="/static/media/research/Latest/241202_EDU_Bren_Tertekan_Pasca_Keputusan_FTSE.webp"
                alt="BREN tertekan pasca keputusan FTSE" />
              <p>BREN tertekan pasca keputusan FTSE</p>
            </a>
          </div>
          <div class="item mobile">
            <a rel="noopener" href="https://www.instagram.com/p/DC0vSneyzjh/?img_index=1" target="_blank">
              <img src="/static/media/research/Latest/241226_EDU_Jiwasraya_dengan_Efek_Dominonya_pada_Bursa_&_Kepercayaan_Masyarakat.webp"
                alt="Efek Domino Jiwasraya pada Bursa" />
              <p>Efek Domino Jiwasraya pada Bursa</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCoZAw5yyqj/" target="_blank">
              <img
                src="/static/media/research/Latest/241121_R_Penghapusan_Pajak_Crypto.webp"
                alt="Presiden AS Usulkan Penghapusan Pajak Crypto"
              />
              <p>Presiden AS Usulkan Penghapusan Pajak Crypto</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjC9BhpqBS/" target="_blank">
              <img
                src="/static/media/research/Latest/241120_R_TDL.webp"
                alt="Training for Delegations"
              />
              <p>Training for Delegations</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjC9BhpqBS/" target="_blank">
              <img
                src="/static/media/research/Latest/241119_R_DARITANAHKEINOVASI.webp"
                alt="Dari Tanah ke Inovasi: Sektor Properti, Katalis Transformasi Ekonomi Indonesia!"
              />
              <p>Dari Tanah Ke Inovasi</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCiO3PByCoP/" target="_blank">
              <img
                src="/static/media/research/Latest/241119_R_FMC33INDEX.webp"
                alt="FMC INDEX 33: Kenaikan PPN"
              />
              <p>FMC INDEX 33: Kenaikan PPN</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCiO3PByCoP/" target="_blank">
              <img
                src="/static/media/research/Latest/241116_R_PELAJARANDARKASUSJOUSKA.webp"
                alt="Pelajaran dari kasus Jouska"
              />
              <p>Pelajaran dari kasus Jouska</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCaaqAQTO88/" target="_blank">
              <img
                src="/static/media/research/Latest/241116_R_EFEKMASIFKEMENANGANDONALDTRUMP.webp"
                alt="Efek Masif Kemenangan Donald Trump"
              />
              <p>Efek Masif Kemenangan Donald Trump</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCQzuHPJhUZ/" target="_blank">
              <img
                src="/static/media/research/Latest/241112_AM_ASSETMANAGEMENTREPORT.webp"
                alt="Asset Management Report Oktober 2024"
              />
              <p>Asset Management Report Oktober 2024</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCN1PA_SgWu/" target="_blank">
              <img
                src="/static/media/research/Latest/241111_33_FMC33INDEX.webp"
                alt="FMC INDEX 33: Tekanan Sentimen Global, Sektor Teknologi dan Properti Lesu"
              />
              <p>FMC Index 33: Tekanan Sentimen Global</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DBsoEJWJW_8/" target="_blank">
              <img
                src="/static/media/research/Latest/241029_R_PERIZINANSHORTSELL.webp"
                alt="Perizinan Short Sell Bursa Saham, Apa Dampaknya bagi Harga Saham Indonesia?"
              />
              <p>Perizinan Short Sell Bursa Saham, Apa Dampaknya bagi Harga Saham Indonesia</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DBsUQTMzr2B/" target="_blank">
              <img
                src="/static/media/research/Latest/241029_33_FMC33INDEX.webp"
                alt="FMC Index 33: Tekanan Sentimen Global"
              />
              <p>FMC Index 33 20 Okt - 25 Okt</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DBqJ-APJq-U/" target="_blank">
              <img
                src="/static/media/research/Latest/241028_R_SETELAHPERGANTIANPRESIDENRIYANGKE8.webp"
                alt="Setelah Pergantian Presiden RI yang ke-8 ke mana arah IHSG Selanjutnya?"
              />
              <p>Pergantian Presiden RI: ke mana arah ISHG Selanjutnya?</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DBAnRSOTCyD/" target="_blank">
              <img
                src="/static/media/research/Latest/241012_R_STIMULUSRAKSASACHINA.webp"
                alt="Stimulus Raksasa China, Apa Dampaknya bagi perekonomian Negara?"
              />
              <p>Stimulus Raksasa China & Dampaknya</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DA56yOlTTrx/" target="_blank">
              <img
                src="/static/media/research/Latest/241009_R_KETEGANGANIRAKISRAEL.webp"
                alt="Ketegangan Iran-Israel memuncak: Pasar Energi terancam?"
              />
              <p>Ketegangan Iran-Israel: Pasar energi terancam?</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DAznuBeSmUI/" target="_blank">
              <img
                src="/static/media/research/Latest/241007_33_FMC33INDEX.webp"
                alt="FMC Index 33: Memanasnya Situasi di Timur Bikin IHSG Ambruk"
              />
              <p>FMC Index 33: Memanasnya Situasi di Timur</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DAyJAK2SyFV/" target="_blank">
              <img
                src="/static/media/research/Latest/241006_EDU_CUKAIDANPEMBATASANGULAGARAMLEMAK.webp"
                alt="Cukai dan Pembatasan Gula, Garam, Lemak di Indonesia?"
              />
              <p>Cukai dan Pembatasan <b>Gula, Garam, Lemak</b> di Indonesia</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DAQ7j0KSa-f/" target="_blank">
              <img
                src="/static/media/research/Latest/240923_R_BIPANGKASSUKUBUNGA.webp"
                alt="BI Pangkas Suku Bunga Mendahului The Fed"
              />
              <p>BI Pangkas Suku Bunga Mendahului The Fed</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DAP1ZXZpcpc/" target="_blank">
              <img
                src="/static/media/research/Latest/240923_33_FMC33INDEX.webp"
                alt="FMC 33 Index: Saham Pak PP Ambruk"
              />
              <p>FMC 33 Index: Saham Pak PP Ambruk</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DAEBDAQzeWe/" target="_blank">
              <img
                src="/static/media/research/Latest/240918_EDU_POTENSIPASARPARFUM.webp"
                alt="Potensi Pasar Parfum di Indonesia: Sebuah Aroma Yang Menjanjikan"
              />
              <p>Potensi Pasar Parfum di Indonesia</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_97WdhJ30H/" target="_blank">
              <img
                src="/static/media/research/Latest/240916_33_FMC33INDEX.webp"
                alt="FMC INDEX 33: IHSG Menguat, Investor Asing Optimis terhadap Ekonomi Indonesia"
              />
              <p>FMC Index 33: IHSG Menguat, Investor Asing Optimis</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_9xRLCpJTv/" target="_blank">
              <img
                src="/static/media/research/Latest/240916_R_BELIRUMAHBEBASPPN.webp"
                alt="Beli Rumah Bebas PPN"
              />
              <p>Beli Rumah Bebas PPN</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_xz6TTTyX7/" target="_blank">
              <img
                src="/static/media/research/Latest/240911_AM_ASSETMANAGEMENTREPORT.webp"
                alt="Asset Management Report Agustus 2024"
              />
              <p>Asset Management Report Agustus 2024</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_u-FSJvChQ/" target="_blank">
              <img
                src="/static/media/research/Latest/240910_33_FMC33INDEX.webp"
                alt="September Ceria, IHSG Ceria"
              />
              <p>FMC Index 33: September Ceria, IHSG Ceria</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_j33npPrhd/" target="_blank">
              <img
                src="/static/media/research/Latest/240906_R_ANGELATANOE.webp"
                alt="Angela Tanoe Nahkoda Perindo, Saham Keluarga Tanoe Jadi Sorotan"
              />
              <p>Angela Tanoe Nahkoda Perindo, Saham Keluarga Tanoe Jadi Sorotan</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_KpARAJT2m/?img_index=1" target="_blank">
              <img
                src="/static/media/research/Latest/240827_33_FMC33INDEX.webp"
                alt="FMC 33 Index: Terus Naik, Ini Kah Titik Balik Stock Market Indonesia"
              />
              <p>FMC 33 Index: Terus Naik</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_Ayml6v4jz/" target="_blank">
              <img
                src="/static/media/research/Latest/240823_R_BREAKING_NEWS.webp"
                alt="Ada Apa dengan Jepang?"
              />
              <p>Ada apa dengan <s>cinta</s> Jepang?</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C-jZRb7SqeU/" target="_blank">
              <img
                src="/static/media/research/Latest/240812_33_FMC33INDEX.webp"
                alt="FMC 33 Index: Klaim Pengangguran AS Melonjak"
              />
              <p>FMC 33 Index: IHSG Terkapar</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C-ZIzMGyD0g/" target="_blank">
              <img
                src="/static/media/research/Latest/240808_R_LANSKAPGLOBALINDUSTRIMINYAKDANGAS.webp"
                alt="Lanskap Global Industri Minyak dan Gas: Inovasi, Keberlanjutan, dan Ekonomi"
              />
              <p>Lanskap Global Industri Minyak dan Gas</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C-SdyNBv1Y0/" target="_blank">
              <img
                src="/static/media/research/Latest/240805_33_FMC33INDEX.webp"
                alt="FMC 33 Index: Market Performance"
              />
              <p>FMC 33 Index: Market Performance</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C-SO9-TJ3uu/" target="_blank">
              <img
                src="/static/media/research/Latest/240805_AMR_AM-Report.webp"
                alt="Asset Management Report Juli 2024"
              />
              <p>Asset Management Report Juli 2024</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C-KmPZ2pP32/" target="_blank">
              <img
                src="/static/media/research/Latest/240802_R_PERBANKANTETAPBERLAYAR.webp"
                alt="Perbankan: Tetap Berlayar di Tengah Badai Ekonomi"
              />
              <p>Perbankan: Tetap Berlayar di Tengah Badai Ekonomi</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C9_yuqsP5e1/" target="_blank">
              <img
                src="/static/media/research/Latest/240723_33_FMC33INDEX.webp"
                alt="FMC 33 Index: IHSG Menguat"
              />
              <p>FMC 33 Index: IHSG Menguat</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>