<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial Market Community</title>
    <link rel="stylesheet" href="static/styles/styleresearch.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="static/media/Logo FMC Transparent.png"
    />
    <script src="static/script/carousel.js" defer></script>
  </head>

  <body>
    {% include "navbar.html" %}
    <div class="carousel" data-carousel>
      <ul data-slides>
        <li class="slide" data-active>
            <a rel="noopener" href="https://www.instagram.com/p/DCaaqAQTO88/" target="_blank">
              <img
              src="/static/media/research/Latest/241116_R_EFEKMASIFKEMENANGANDONALDTRUMP.webp"
              alt="data vision article titled The Heat is On: How Global Warming is Raising Temperatures and Prices"/>
            </a>
          <div class="carousel-info">
            <div>
              <a rel="noopener" href="https://www.instagram.com/p/DCaaqAQTO88/" target="_blank">
                <h1>
                Efek Masif Kemenangan Donald Trump
                </h1>
              </a>
              <a rel="noopener" href="https://www.instagram.com/p/DCaaqAQTO88/" target="_blank">
                <p>
                  Pada hari Rabu (6/11/2024), Donald Trump dari Partai Republik kembali memenangkan pemilihan Presiden Amerika Serikat dengan mendapatkan suara yang lebih banyak daripada kandidat rivalnya, Kamala Harris dari Partai Demokrat yang tengah menjabat sebagai Wakil Presiden. Trump menang dengan memperoleh sebanyak 277 suara elektoral dari 538 suara.
                </p>
              </a>
            </div>
            <div class="buttons">
              <button title="previous" class="carousel-button prev" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-left"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M5 12l4 4" />
                  <path d="M5 12l4 -4" />
                </svg>
              </button>
              <button title="next" class="carousel-button next" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-right"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M15 16l4 -4" />
                  <path d="M15 8l4 4" />
                </svg>
              </button>
            </div>
          </div>
        </li>

        <li class="slide">
          <a rel="noopener" href="https://www.instagram.com/p/DBqJ-APJq-U/" target="_blank">
            <img
              src="/static/media/research/Latest/241028_R_SETELAHPERGANTIANPRESIDENRIYANGKE8.webp"
              alt="Setelah Pergantian Presiden RI yang ke-8 ke mana arah IHSG Selanjutnya?"
            />
          </a>
          <div class="carousel-info">
            <div>
              <a rel="noopener" href="https://www.instagram.com/p/DBqJ-APJq-U/" target="_blank">
              <h1>
                <span>Setelah Pergantian Presiden RI yang ke-8 ke mana arah IHSG Selanjutnya?</span>
              </h1>
              <p>
                Pada hari Minggu, 20 Oktober 2024, Prabowo Subianto dan pasangannya Gibran Rakabuming Raka dilantik menjadi Presiden dan Wakil Presiden periode 2024—2029. Setelah pelantikan ini Pasar Keuangan RI bergerak tak kompak pada hari Senin, 21 Oktober 2024 IHSG ditutup menguat 0,16%, sementara Rupiah ditutup melemah 0,19% terhadap Dolar AS. Investor tampaknya masih menunggu kebijakan yang akan dijalankan oleh pemerintahan saat ini, mengingat Morgan Stanley (Bank investasi dan jasa keuangan global) telah menurunkan peringkat saham indonesia menjadi underweight karena risiko ketidakpastian fiskal, yang salah satunya disebabkan oleh program makan siang gratis.
              </p>
              </a>
            </div>
            <div class="buttons">
              <button title="previous" class="carousel-button prev" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-left"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M5 12l4 4" />
                  <path d="M5 12l4 -4" />
                </svg>
              </button>
              <button title="next" class="carousel-button next" data-carousel-button>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-arrow-narrow-right"
                  viewBox="0 0 24 24"
                  stroke-width="1"
                  stroke="#000000"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M5 12l14 0" />
                  <path d="M15 16l4 -4" />
                  <path d="M15 8l4 4" />
                </svg>
              </button>
            </div>
          </div>
        </li>

        <li class="slide">
        <a rel="noopener" href="https://www.instagram.com/p/DCaaqAQTO88/" target="_blank">
          <img
            src="/static/media/research/Latest/241012_R_STIMULUSRAKSASACHINA.webp"
            alt="Stimulus Raksasa China: Apa Dampaknya bagi Perekonomian Negara"
          />
        </a>
        <div class="carousel-info">
          <a rel="noopener" href="https://www.instagram.com/p/DCaaqAQTO88/" target="_blank">
          <div>
            <h1>
              Stimulus Raksasa China: Apa Dampaknya bagi Perekonomian Negara
            </h1>
            <p>
              Bank Sentral Cina atau People’s Bank of China (PBoC) menyuntikkan stimulus besar-besaran dengan tujuan menaikkan kondisi ekonomi Tiongkok yang tengah lesu. Sebagai negara raksasa yang bermitra dengan banyak negara di berbagai sektor, lemah-kuatnya ekonomi Tiongkok tentu akan menjadi pusat perhatian, lalu apa saja isi paket stimulus tersebut?
            </p>
          </div>
          </a>
          <div class="buttons">
            <button title="previous" class="carousel-button prev" data-carousel-button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-narrow-left"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l4 4" />
                <path d="M5 12l4 -4" />
              </svg>
            </button>
            <button title="next" class="carousel-button next" data-carousel-button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-narrow-right"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M15 16l4 -4" />
                <path d="M15 8l4 4" />
              </svg>
            </button>
          </div>
        </div>
      </ul>
    </div>

    <div class="news-list pc">
      <div class="section">
        <div class="header">
          <h1>Latest</h1>
          <a href="{{ url_for('latest') }}">
            <button>
              <div class="button-text">View all</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-right"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M13 18l6 -6" />
                <path d="M13 6l6 6" />
              </svg>
            </button>
          </a>
        </div>
        <div class="content">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCncZRfSsnZ/" target="_blank">
              <img
                src="/static/media/research/Latest/241121_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 11 Nov - 15 Nov"
              />
              <p>Stock Watchlist 11 Nov - 15 Nov</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjcAAvyGF5/" target="_blank">
              <img
                src="/static/media/research/Latest/241120_SH_SHARIAINVESTINGESSAYCOMPETITION.webp"
                alt="Sharia Investing Essay Competition"
              />
              <p>Sharia Investing Essay Competition</p>
            </a>
          </div>   
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjC9BhpqBS/" target="_blank">
              <img
                src="/static/media/research/Latest/241120_R_TDL.webp"
                alt="Training for Delegations"
              />
              <p>Training for Delegations</p>
            </a>
          </div>
          <div class="item mobile">
            <a rel="noopener" href="https://www.instagram.com/p/DCjC9BhpqBS/" target="_blank">
              <img
                src="/static/media/research/Latest/241119_R_DARITANAHKEINOVASI.webp"
                alt="Dari Tanah ke Inovasi: Sektor Properti, Katalis Transformasi Ekonomi Indonesia!"
              />
              <p>Dari Tanah Ke Inovasi</p>
            </a>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>Stock Watchlist</h1>
          <a href="{{ url_for('stock_watchlist') }}">
            <button>
              <div class="button-text">View all</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-right"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M13 18l6 -6" />
                <path d="M13 6l6 6" />
              </svg>
            </button>
          </a>
        </div>
        <div class="content">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCncZRfSsnZ/" target="_blank">
              <img
                src="/static/media/research/Latest/241121_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 11 Nov - 15 Nov"
              />
              <p>Stock Watchlist 11 Nov - 15 Nov</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCQ8okbpdO7/" target="_blank">
              <img
                src="/static/media/research/Latest/241112_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 4 Nov - 8 Nov"
              />
              <p>Stock Watchlist 4 Nov - 8 Nov</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DBp4pCrTf4A/" target="_blank">
              <img
                src="/static/media/research/Latest/241028_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 21 Okt - 25 Okt"
              />
              <p>Stock Watchlist 21 Okt - 8 Okt</p>
            </a>
          </div>
          <div class="item mobile">
            <a rel="noopener" href="https://www.instagram.com/p/DA0Vw3eJVdC/" target="_blank">
              <img
                src="/static/media/research/Latest/241007_SW_STOCKWATCHLIST.png"
                alt="Stock Watchlist 31 September - 4 Oktober"
              />
              <p>Stock Watchlist: 31 Sep - 4 Okt</p>
            </a>
          </div>  
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>Research & Education</h1>
          <a href="{{ url_for('research_and_education') }}">
            <button>
              <div class="button-text">View all</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-right"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M13 18l6 -6" />
                <path d="M13 6l6 6" />
              </svg>
            </button>
          </a>
        </div>
        <div class="content">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjC9BhpqBS/" target="_blank">
              <img
                src="/static/media/research/Latest/241120_R_TDL.webp"
                alt="Training for Delegations"
              />
              <p>Training for Delegations</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjC9BhpqBS/" target="_blank">
              <img
                src="/static/media/research/Latest/241119_R_DARITANAHKEINOVASI.webp"
                alt="Dari Tanah ke Inovasi: Sektor Properti, Katalis Transformasi Ekonomi Indonesia!"
              />
              <p>Dari Tanah Ke Inovasi</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCiO3PByCoP/" target="_blank">
              <img
                src="/static/media/research/Latest/241119_R_FMC33INDEX.webp"
                alt="FMC INDEX 33: Kenaikan PPN"
              />
              <p>FMC INDEX 33: Kenaikan PPN</p>
            </a>
          </div>
          <div class="item mobile">
            <a rel="noopener" href="https://www.instagram.com/p/DCiO3PByCoP/" target="_blank">
              <img
                src="/static/media/research/Latest/241116_R_PELAJARANDARKASUSJOUSKA.webp"
                alt="Pelajaran dari kasus Jouska"
              />
              <p>Pelajaran dari kasus Jouska</p>
            </a>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>Sharia</h1>
          <a href="{{ url_for('sharia') }}">
            <button>
              <div class="button-text">View all</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-right"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M13 18l6 -6" />
                <path d="M13 6l6 6" />
              </svg>
            </button>
          </a>
        </div>
        <div class="content">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjcAAvyGF5/" target="_blank">
              <img
                src="/static/media/research/Latest/241120_SH_SHARIAINVESTINGESSAYCOMPETITION.webp"
                alt="Sharia Investing Essay Competition"
              />
              <p>Sharia Investing Essay Competition</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/fmcfebunpad/p/C7bTig3SDu6/" target="_blank">
              <img
                src="/static/media/research/Latest/240526_SH_LabaIndustriSyariah.webp"
                alt="Laba Industri Syariah, Rugi atau Untung?"
              />
              <p>Laba Industri Syariah, Rugi atau Untung?</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/fmcfebunpad/p/C7YxM6bJCIx/" target="_blank">
              <img
                src="/static/media/research/Latest/240525_SH_KenapaHarusSyariah.webp"
                alt="Kenapa Harus Syariah?"
              />
              <p>Kenapa Harus Syariah? Simpel atau Ribet?</p>
            </a>
          </div>
          <div class="item mobile">
            <a rel="noopener" href="https://www.instagram.com/p/DCjcAAvyGF5/" target="_blank">
              <img
                src="/static/media/research/Latest/240413_SH_AksiKonsolidasiBankSyariah.webp"
                alt="Aksi Konsolidasi Bank Syariah: Langkah Strategis untuk Memperkuat posisi Bank Syariah di Pasar Modal"
              />
              <p>Aksi Konsolidasi Bank Syariah</p>
            </a>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="header">
          <h1>Data Vision</h1>
          <a href="{{ url_for('data_vision') }}">
            <button>
              <div class="button-text">View all</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-right"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#000000"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M13 18l6 -6" />
                <path d="M13 6l6 6" />
              </svg>
            </button>
          </a>
        </div>
        <div class="content">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DA53ksxTmeF/" target="_blank">
              <img
                src="/static/media/research/Latest/241009_TLA_KRISISPERUMAHAN.webp"
                alt="Krisis Perumahan: Bom Waktu yang Menghancurkan Mimpi Generasi Muda"
              />
              <p>Krisis Perumahan: Bom Waktu yang Menghancurkan Mimpi Generasi Muda</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C96kx_PpEU7/" target="_blank">
              <img
                src="/static/media/research/Latest/240727_TLA_HowGlobalWarmingIsRaisingTemperaturesAndPrices.webp"
                alt="The Heat is On: How Global Warming is Raising Temperatures and Prices"
              />
              <p>The Heat is On: How Global Warming is Raising Temperatures and Prices</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C71W55-J3bC/" target="_blank">
              <img
                src="/static/media/research/Latest/240605_TLA_SahamIPO2023.webp"
                alt="Saham IPO 2023: Naik Roket atau Terjun Bebas"
              />
              <p>Saham IPO 2023: Naik Roket atau Terjun Bebas</p>
            </a>
          </div>
          <div class="item mobile">
            <a rel="noopener" href="https://www.instagram.com/p/C7GVnXcpMHr/" target="_blank">
              <img
                src="/static/media/research/Latest/240518_TLA_NavigatingTheBearMarket.webp"
                alt="Navigating the Bear Market: The Impact of War"
              />
              <p>Navigating the Bear Market: The Impact of War</p>
            </a>
          </div>
        </div>
      </div>
    </div>
      
    </div>
    <footer>{% include "footer.html"%}</footer>
  </body>
</html>
