<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial Market Community</title>
    <link rel="stylesheet" href="static/styles/latesttest.css">
    <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">
  </head>
  <body>
    {% include "navbar.html" %}
    <div id="container">
      <h1>Sharia</h1>
        <div class="items">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjcAAvyGF5/" target="_blank">
              <img
                src="/static/media/research/Latest/241120_SH_SHARIAINVESTINGESSAYCOMPETITION.webp"
                alt="Sharia Investing Essay Competition"
              />
              <p>Sharia Investing Essay Competition</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/fmcfebunpad/p/C7bTig3SDu6/" target="_blank">
              <img
                src="/static/media/research/Latest/240526_SH_LabaIndustriSyariah.webp"
                alt="Laba Industri Syariah, Rugi atau Untung?"
              />
              <p>Laba Industri Syariah, Rugi atau Untung?</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/fmcfebunpad/p/C7YxM6bJCIx/" target="_blank">
              <img
                src="/static/media/research/Latest/240525_SH_KenapaHarusSyariah.webp"
                alt="Kenapa Harus Syariah?"
              />
              <p>Kenapa Harus Syariah? Simpel atau Ribet?</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCjcAAvyGF5/" target="_blank">
              <img
                src="/static/media/research/Latest/240413_SH_AksiKonsolidasiBankSyariah.webp"
                alt="Aksi Konsolidasi Bank Syariah: Langkah Strategis untuk Memperkuat posisi Bank Syariah di Pasar Modal"
              />
              <p>Aksi Konsolidasi Bank Syariah</p>
            </a>
          </div>
        </div>
    </div>
    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>