<!doctype html>
<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Financial Market Community</title>
    <link rel="stylesheet" href="static/styles/latesttest.css">
    <link rel="icon" type="image/x-icon" href="static/media/Logo FMC Transparent.png">
  </head>
  <body>
    {% include "navbar.html" %}
    <div id="container">
      <h1>Stock Watchlist</h1>
      <div class="itemContainerCenter">
        <div class="items">
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCncZRfSsnZ/" target="_blank">
              <img
                src="/static/media/research/Latest/241121_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 11 Nov - 15 Nov"
              />
              <p>Stock Watchlist 11 Nov - 15 Nov</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DCQ8okbpdO7/" target="_blank">
              <img
                src="/static/media/research/Latest/241112_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 4 Nov - 8 Nov"
              />
              <p>Stock Watchlist 4 Nov - 8 Nov</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DBp4pCrTf4A/" target="_blank">
              <img
                src="/static/media/research/Latest/241028_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 21 Okt - 25 Okt"
              />
              <p>Stock Watchlist 21 Okt - 8 Okt</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DA0Vw3eJVdC/" target="_blank">
              <img
                src="/static/media/research/Latest/241007_SW_STOCKWATCHLIST.png"
                alt="Stock Watchlist 31 September - 4 Oktober"
              />
              <p>Stock Watchlist: 31 Sep - 4 Okt</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DAS2Q18pO-C/" target="_blank">
              <img
                src="/static/media/research/Latest/240924_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 16 Sep - 20 Sep"
              />
              <p>Stock Watchlist 16 Sep - 20 Sep</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/DAAg0jgPhI-/" target="_blank">
              <img
                src="/static/media/research/Latest/240917_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 9 Sep - 14 Sep"
              />
              <p>Stock Watchlist 9 Sep - 14 Sep</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_xtZmKSiQu/" target="_blank">
              <img
                src="/static/media/research/Latest/240911_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 2 Sep - 6 Sep"
              />
              <p>Stock Watchlist 2 Sep - 6 Sep</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C_IcxExyPGt/" target="_blank">
              <img
                src="/static/media/research/Latest/240826_SW_STOCK_WATCHLIST.webp"
                alt="Stock Watchlist 26 Agustus"
              />
              <p>Stock Watchlist 26 Agustus 2024</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C-jWMm1yAc0/" target="_blank">
              <img
                src="/static/media/research/Latest/240812_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 12 Agustus 2024"
              />
              <p>Stock Watchlist 12 Agustus 2024</p>
            </a>
          </div>
          <div class="item">
            <a rel="noopener" href="https://www.instagram.com/p/C-Ar_jxyGqY/" target="_blank">
              <img
                src="/static/media/research/Latest/240729_SW_STOCKWATCHLIST.webp"
                alt="Stock Watchlist 29 Juli 2024"
              />
              <p>Stock Watchlist 29 Juli 2024</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      {% include "footer.html" %}
    </footer>
  </body>
</html>