@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.banner img {
  position:relative;
  z-index:-1;
  display:flex;
  width:100%;
  height: 40rem;
}

.banner {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 80%);
}

.banner h1 {
  z-index:6;
  color:white;
  position: absolute;
  bottom: 8px;
  left: 16px;
  width:100%;
  margin-left: 3em;
}

.article-container{
  display:flex;
  justify-content:center;
  position:relative;
  background-color:white;
  z-index:1
}

.article {
  margin-top: 56px;
  width: 70%;
}

.article p {
  font-size:1.25rem;
}