@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  /*border: 2px solid red; */
}

/* reset user agent margin (from browser) */
body {
  margin: 0px;
}


.content a{
  text-decoration:none;
  color:black
}





/* Accordi0n dan container dan content Styles */

@media (max-width: 991px){
  .acordion{
    width: 100%;
    }
  
  .container {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    padding-right: 16px !important;
    padding-left: 16px !important;
     max-width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    }
  .content {
    width: 100%;}

  .content p {
      color: #333;
      line-height: 1.6;
      text-align: justify;
      font-size:17px;

  }

  .judul{
    margin-top: 11%;
    padding: 13px;
    margin-bottom: -2%;
  }
  
  
  .karosel {

    margin-left: 20px;
    margin-right:20px;
    background: #000000;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    min-height: 10vh;
    flex-direction: row;
    align-items: center;
   
  }

  lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 720px;
    margin-top:3%;
  }
}

@media (min-width: 991px){
  .container {
    display: flex;
    padding: 4px;
    justify-content: space-between;
    flex-wrap: wrap; }
  .acordion{
    width: 25%;
    margin-left: -50px;
    
    }
  .content {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;}

  .content p {
      color: #333;
      line-height: 1.6;
      text-align: justify;
      font-size:23px;

  }

  .judul{
    margin-top:4%;
    padding:16px;

      }

  .karosel {

    margin-left: 20px;
    margin-right:20px;
    background: #000000;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    min-height: 10vh;
    flex-direction: row;
    align-items: center;
    width: 97%;
  }

  lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 770px;
    
  }

}

.acordion a {
  color:white;
  text-decoration:none;
  
} 

.accordion a:hover {
  color: #a1bbe2;
  text-decoration: none; 
}

/* Content Styles */



.content h3 {
  font-weight: bold;
    margin-top: 0;
    color: #1a2b57;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom:20px;
}






.judulb{
  margin-top:1%;
  padding:16px;

    }

.judul h2, 
.judulb h2{
  font-size:38px;
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  
}







/*footer

footer img {
  width: 130.797px;
  height: 35.984px;
}

.containerFooter {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5 fr;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  padding: 10px;
}

footer {
  display: flex;
  font-size: 14px;
  padding: 16px;
  text-align: justify;
  justify-content: space-between;
  gap: 80px;
  flex: auto;
  margin-top: 10%;
}

footer ul {
  list-style: none;
  padding: 0;
}

.col1-footer {
  width: 393px;
}

.col3-footer {
  width: 20%;
}

.footer p {
  font-weight: bold;
}

.highlightfooter {
  font-weight: bold;
  color: #012B9D;
}*/



/* Durations and dimensions KAROSEL */


* {
  box-sizing: border-box;
}




.contain {
  width: 100%;
}

.row {
  overflow: scroll;
  width: 100%;
  margin-top: 100%;
}

.row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0; /* 140.625px / 2 */
  /*padding-bottom: 10px;  Account for OS X scroll bar */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.tile__img {
  width: 250px;
  height: 140.625px;
  object-fit: cover;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
}

.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
}

.tile__details:after {
  margin-top: -25px; /* 50px / 2 */
  margin-left: -25px; /* 50px / 2 */
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 3px;
  margin-top: -25px;
  text-align: center;
  z-index: 2;
}

.tile:hover .tile__details {
  opacity: 1;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/* Hover effects */
.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0); /* -(250px * (1.5 - 1) / 2) */
}

.row__inner:hover .tile {
  opacity: 0.3;
}

.row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}

.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0); /* 250px * (1.5 - 1) */
}
