@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* reset user agent margin (from browser) JANGAN DIEDIT!!!!!!
iya.... ok... ga usah marah anjay wkkwkw*/


  
}

body {
  margin: 0px;
}

.header {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: Plus Jakarta Sans;
  margin: 0;
  padding: 0;
}

.hbanner {
  background: linear-gradient(270deg, #000000 1.5%, #02112E 30%);
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  width:bold;
 
}

.bgAbout {
  display: flex;
  justify-content: center;
}
.bgAbout img {
  width: 100%;
  height: 100%;
}

.judul {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: 800;
}

@media (max-width: 430px) {
  .hbanner .judul {
    font-family: "Plus Jakarta Sans";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: 600; 
    
  }
  
}



/*About*/
.about-us h2 {
  margin-top: 18px;
  margin-left: 30px;
  font-size: 45px;
  font-weight: 800;
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 50px 30px;
  flex: auto;
  gap: 16px;
  padding-bottom:3%;
}

.about-content .left{
  display:flex;
  align-items: center;
}

.about-content .left .about-text {
  padding-right: 20px;
}

.about-content .left p{
  margin-top:20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: justify;
}

.about-content .right .about-image img{
  height: auto;
  width: 80%;
  margin-left: 5%;
  margin-top:20px;
}


@media (max-width: 991px){
  .about-content .left .about-text {
    padding-right: 0;
    padding-bottom: -90px
  }
  .about-content .right .about-image{
    display:flex;
    justify-content: center;
  }
  .about-content .right .about-image img{
    height: auto;
    width: 80%;
    margin-left: 0%;
  }

}

@media (max-width: 768px){
  .about-content {
    width: 100%;
    grid-template-columns: 1fr;
  }
}



.highlight {
  color: #01359d;
  font-family: "Plus Jakarta Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}


/*Visi Misi*/
.visi h2{
  text-align: left;
  margin-right: 30px;
}
.misi h2{
  text-align: right;
  margin-right: 30px;
}

.visi h2,
.misi h2 {
  color:white;
  margin-top: 18px;
  margin-left: 30px;
  font-size: 45px;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  text-shadow: 0px 4px 4px rgb(255, 255, 255, 0.25);
  
}
/*.hbannervisimisi{
    height: 70vh;
    width: 100%;
    color: white;
    margin-bottom: 2px;
    padding: 0;
    background-image: url("/static/media/Hero Image FMC.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }*/
  
}

.teksvisi, 
.teksmisi {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  
}


.hbannervisimisi button {
  /*margin: 5px;*/
  gap: 10px;
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  color: white;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 2%;
  border: 1px solid white;
}

/* Values  */
@media (min-width: 991px){
  .hbannervisimisi{
    height: 70vh;
    width: 100%;
    color: white;
    margin-bottom: 2px;
    padding: 0;
    background-image: url("/static/media/Hero Image FMC.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.values {
  height: 80vh;
  width: 100%;
  color: white;
  margin-bottom: 36px;
  padding: 0;
  background-image: url("/static/media/FEB.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.values h2{
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom : 24px;
}


.valuestext {
  font-family: "Plus Jakarta Sans"
  position: relative;
  gap: 10px;
  color: black;
  font-size: 17px;
  font-weight: 400;
  text-align: justify;
  margin: 150px;
  margin-top: 10px;
  }
}

@media screen and (max-width: 991px) {
  .hbannervisimisi{
    height: 100vh;
    width: 100%;
    color: white;
    margin-bottom: 2px;
    padding: 0;
    background-image: url("/static/media/Hero Image FMC.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .values {
    height: 70vh;
    width : 100%;
    margin-bottom: 20px;
    padding: 0;
    background-image: url("/static/media/FEB.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .values h2 {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(90deg, #000F2D 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .valuestext {
    font-family: "Plus Jakarta Sans"
    position: relative;
    gap: 10px;
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    margin: 20px;
    margin-top: 10px;
    }
}

/* Testimoni Alumni  */

/* TA-1 */
.testimoni-alumni h2 {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom:50px;
  font-size: 50px;
  font-weight: 800;
  text-align:center;
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.testimoni-alumni h3 {
  margin-left: 30px;
  font-size: 39px;
  margin-bottom:-25px;
  font-weight: 800;
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.testimoni-alumni h4 {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 600; 
  background: linear-gradient(90deg,#012B9D 0%, #000F2D 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}


.TA-content1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 50px 30px;
  flex: auto;
  gap: 16px;
  padding-bottom:3%;
}

.TA-content1 .TA-left1{
  display:flex;
  align-items: center;
}

.TA-content1 .TA-left1 .TA-text1 {
  padding-right: 20px;
}

.TA-content1 .TA-left1 p{
  margin-top:20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: justify;
}

.TA-content1 .TA-right1 .TA-image1 img{
  height: auto;
  width: 80%;
  margin-left: 5%;
  border-radius: 20%;
}


@media (max-width: 991px){
  .TA-content1 .TA-left1 .TA-text1 {
    padding-right: 0;
  }
}

@media (max-width: 768px){
  .TA-content1 {
    width: 100%;
    grid-template-columns: 1fr;
  }
}



.highlight {
  color: #01359d;
  font-family: "Plus Jakarta Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

/* TA-2  */

.TA-text2 h3 {
  margin-left: 30px;
  font-size: 39px;
  margin-bottom:-25px;
  font-weight: 800;
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.TA-text2 h4 {
  margin-top: 18px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: 800; /*P? MASH DISINI G*/
  background: linear-gradient(90deg, #000F2D 0%, #012B9D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}


.TA-content2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 50px 30px;
  flex: auto;
  gap: 16px;
  padding-bottom:3%;
}

.TA-content2 .TA-left2{
  display:flex;
  align-items: center;
}

.TA-content2 .TA-left2 .TA-text2 {
  padding-right: 20px;
}

.TA-content2 .TA-left2 p{
  margin-top:20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: justify;
}

.TA-content2 .TA-right2 .TA-image2 img{
  height: auto;
  width: 80%;
  margin-left: 5%;
}


@media (max-width: 991px){
  .TA-content2 .TA-left2 .TA-text2 {
    padding-right: 0;
  }
}

@media (max-width: 768px){
  .TA-content2 {
    width: 100%;
    grid-template-columns: 1fr;
  }
}




















/*navbar*/
/* bg navbar */

.bg-body-tertiary {
  background-color: rgb(255 255 255) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  padding: 0px;
}

.navbar-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    margin-right: 20px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: flex;
  flex-shrink: 1;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #012B9D;
}

nav ul li #navbar-toggle:hover {
  color: #6495ed
}

nav ul li #learn {
  background: #012B9D;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px;
}

nav ul li #learn:hover {
  background-color: #6495ed;
  text-color: #ffffff;
}


.container {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0%;
  margin: 0px;
  padding: 0px;
}

.logo img{
  margin-left: 2em;
  width: 100px;
  height: auto;
}

.nav-item {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}




/*footer*/

footer img {
  width: 130.797px;
  height: 35.984px;
}

.containerFooter {
  display: flex;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5 fr;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  padding: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 16px;
  text-align: justify;
  justify-content: space-between;
  gap: 20px;
  flex: 1 1;
  margin-top: 10%;
}

footer ul {
  list-style: none;
  padding: 0;
}

.col1-footer {
  width: 393px;
}

.col3-footer {
  width: 20%;
}

.footer p {
  font-weight: bold;
}

.highlightfooter {
  font-weight: bold;
  color: #012B9D;
}

/* .Footerteks{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5 fr;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  } */



}

/*antara 601px dan 1024px (tablet) 
@media (min-width: 601px) and (max-width: 1024px) {
  .aboutImage img,
  .pengurus-image img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}



